@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@900&display=swap');

body {
    font-family: 'Outfit', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #242038;
}

.logo {
    width: 400px;
    height: 400px;
    justify-content: center;
}

.container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;

}

.container {
    padding: 40px;
    width: auto;
}

h2 {
    text-align: center;
    color: #0F7173;
    font-size: 60px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    color: #425255
}

input,
select {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #0F7173;
    border-radius: 4px;
    font-size: 14px;
}

button {
    background-color: #242038;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;

}

button:hover {
    background-color: #443e64;
}