body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

header {
    background-color: #333333;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

section {
    padding: 20px;
}

#about img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
}

#services ul {
    list-style: none;
    padding: 0;
}

#services li {
    margin-bottom: 10px;
}

footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline-block;
    margin-right: 10px;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}
